<!DOCTYPE HTML>
<html>

<head>
    <title>ImieCar</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('arcana/assets/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('arcana/assets/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('arcana/assets/css/animate.css') }}">
    <style type="text/css"></style>

</head>

<body>

<div id="header">
    <nav id="nav">
        <ul>
           {#<li><img id="logoImie" src="{{ asset('img/logo.png') }}"></li>#}
            <li class="current"><a href="/">Accueil</a></li>
            <li><a href="#">Trajets</a>
                <ul>
                    <li><a href="{{ path('trajet_index') }}">liste des trajets</a></li>
                    <li><a href="{{ path('trajet_new') }}">Proposer un trajet</a></li>
                    <li><a href="{{ path('choix_trajet') }}">Rechercher un trajet</a></li>
                </ul>
            </li>
            <li class="current"><a style="text-align: right"
                                   href="#">{{ app.user.firstname }} {{ app.user.lastname }}</a>
                <ul>
                    <li><a href="{{ path('fos_user_profile_show') }}">Détails du profil</a></li>
                    <li><a href="{{ path('commentaires_index') }}">Mes avis</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="/admin">Gestion du site</a></li>
                    {% endif %}
                    <li><a href="/logout">Déconnexion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
{#{% block body %}{% endblock %}#}

   {% block body %}
{#<div id="slogan" style="padding-bottom: 140px">#}
    {#<p class="item animated zoomIn" style="animation-delay:1s">Le covoiturage solidaire</p>#}
    {#<p class="item animated zoomIn" style="animation-delay:2s">Covoiturez librement</p>#}
    {#<p class="item animated zoomIn" style="animation-delay:3s">Sans commission</p>#}
{#</div>#}

    {% endblock %}


<div class="trou2"></div>
<footer id="footer" class="col-sm-12">

    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
    </ul>

    <!-- Copyright -->
    <div class="copyright">
        <ul class="menu">
            <li>&copy; Imiecar. All rights reserved</li>
            <li>Design: <a href="{{ path('contact_new') }}">Contactez nous !</a></li>
            <li><a>Team: Amel - Vincent - Christopher</a></li>
        </ul>
    </div>

</footer>

<div class="trou2"></div>

<!-- Scripts -->
<script src="{{ asset('arcana/assets/js/ie/html5shiv.js') }}"></script>
<script src="{{ asset('arcana/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('arcana/assets/js/jquery.dropotron.min.js') }}"></script>
<script src="{{ asset('arcana/assets/js/skel.min.js') }}"></script>
<script src="{{ asset('arcana/assets/js/util.js') }}"></script>
<script src="{{ asset('arcana/assets/js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('arcana/assets/js/jquery.min.js') }}"></script>




</body>
</html>
