<!DOCTYPE HTML>


<html>
<head>
    <title>ImieCar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="{{ asset('arcana/assets/js/ie/html5shiv.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('arcana/assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('arcana/assets/css/style.css') }}" />

</head>
<body>


<div id="page-wrapper">

    <!-- Header -->
    <div id="header">



        <nav id="nav">
            <ul>
                <li class="current"><a href="{{ path('arcana') }}">Accueil</a></li>
                <li>
                    <a href="#">Trajets</a>
                    <ul>
                        <li><a href="{{ path('trajet_new') }}">Proposer un trajet</a></li>
                        <li><a href="{{ path('choix_trajet') }}">choisir un trajet</a></li>
                        <li><a href="{{ path('creer') }}"> proposition trajet</a></li>
                        <li>
                            <a href="#">Submenu</a>
                            <ul>
                                <li><a href="#">Lorem dolor</a></li>
                                <li><a href="#">Phasellus magna</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam nisl</a></li>
                                <li><a href="#">Veroeros feugiat</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Veroeros feugiat</a></li>
                    </ul>
                </li>
                <li><a href="">Consulter</a></li>
                <li><a href="">Carte</a></li>
                <li><a href="">Help</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>

    </div>

    <!-- Banner -->
    {#<section id="banner">#}
    <header>
        {#<h2>Arcana: <em>A responsive site template freebie by#}
        <img id="banniere" src="{{ asset('arcana/images/route.png') }}">
       
        {#<a href="{{ asset('arcana/images/route.jpg') }}"></a>#}
        {#</em></h2>#}
        {#<a href="#" class="button">Learn More</a>#}

    </header>
    {% block body %}{% endblock %}
    {#</section>#}

    <!-- Highlights -->
    {#<section class="wrapper style1">#}
        {#<div class="container">#}
            {#<div class="row 200%">#}
                {#<section class="4u 12u(narrower)">#}
                    {#<div class="box highlight">#}
                        {#<i class="icon major fa-paper-plane"></i>#}
                        {#<h3>This Is Important</h3>#}
                        {#<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>#}
                    {#</div>#}
                {#</section>#}
                {#<section class="4u 12u(narrower)">#}
                    {#<div class="box highlight">#}
                        {#<i class="icon major fa-pencil"></i>#}
                        {#<h3>Also Important</h3>#}
                        {#<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>#}
                    {#</div>#}
                {#</section>#}
                {#<section class="4u 12u(narrower)">#}
                    {#<div class="box highlight">#}
                        {#<i class="icon major fa-wrench"></i>#}
                        {#<h3>Probably Important</h3>#}
                        {#<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <!-- Footer -->
    {#<div id="footer">#}

        {#<!-- Icons -->#}
        {#<ul class="icons">#}
            {#<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>#}
            {#<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>#}
            {#<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>#}
            {#<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>#}
            {#<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>#}
        {#</ul>#}

        {#<!-- Copyright -->#}
        {#<div class="copyright">#}
            {#<ul class="menu">#}
                {#<li>&copy; Imiecar. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>#}
            {#</ul>#}
        {#</div>#}

    {#</div>#}

</div>

<!-- Scripts -->
<script src="{{ asset('arcana/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('arcana/assets/js/jquery.dropotron.min.js') }}"></script>
<script src="{{ asset('arcana/assets/js/skel.min.js') }}"></script>
<script src="{{ asset('arcana/assets/js/util.js') }}"></script>

<script src="{{ asset('arcana/assets/js/main.js') }}"></script>

</body>
</html>
