{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form ":FormTemplate:bootstrap.html.twig" %}
<style>
    form {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 10px;
        padding-top: 15px;
    }
</style>
<div class="t" id="top">
    <h1> ImieCar </h1>
    <h3>Site de co-voiturage des campus IMIE.</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="form-horizontal col-sm-12" id="register-form">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                        {{ form_widget(form.lastname,{ 'attr': { 'placeholder': 'Nom'} }) }}
                        {{ form_widget(form.firstname,{ 'attr': { 'placeholder': 'Prénom'} }) }}
                        {{ form_widget(form.username,{ 'attr': { 'placeholder': 'Nom d\'utilisateur'} }) }}
                    <hr>
                        {{ form_widget(form.email,{ 'attr': { 'placeholder': 'email'} }) }}
                    <hr>
                        {{ form_widget(form.plainPassword.first,{ 'attr': { 'placeholder': 'Mot de passe'} }) }}
                        {{ form_widget(form.plainPassword.second, { 'attr': { 'placeholder': 'Vérification'} }) }}
                        <div>
                            <hr>
                            <input class="btn btn-dark btn-lg" type="submit" value="{{ 'registration.submit'|trans }}"/>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>


{{ form_end(form) }}