{% extends 'base.html.twig' %}
{% form_theme form "bootstrap_3_layout.html.twig" %}

{% block body %}


<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
<div class="container">
    <div class="row">
        <div id="trajet" class="col-sm-12">
            {{ form_start(form, {'method': 'POST', 'action': path('choix_trajet')}) }}
            {{ form_start(form) }}
            <div style="padding-top:5px" id="entete" class="col-sm-12">
                <h1><strong>Trouvez un trajet</strong></h1>

            </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div style="margin-bottom: 15px" class="trou"></div>
                        <div style="text-align: center" class="col-sm-3">
                            {{ form_label(form.date, 'Date du trajet', {'label_attr':{'style':'color:#ade220'}}) }}
                            {{ form_widget(form.date) }}
                        </div>

                        <div style="text-align: center" class="col-sm-3">
                             {{ form_label(form.heureDepart,'Heure dép.',{'label_attr':{'style': 'color:#ade220'}}) }}
                             {{ form_widget(form.heureDepart) }}
                             {{ form_label(form.villeDepart, 'Ville de départ', {'label_attr':{'style': 'color:#ade220'}}) }}
                             {{ form_widget(form.villeDepart,{ 'attr': { 'placeholder': 'Ville de départ'} }) }}
                        </div>

                        <div style="text-align: center" class="col-sm-3">
                            {{ form_label(form.heureArrivee,'Heure arr.',{'label_attr':{'style': 'color:#ade220'}}) }}
                            {{ form_widget(form.heureArrivee ) }}
                            {{ form_label(form.villeArrivee, 'Ville de arrivée', {'label_attr':{'style': 'color:#ade220'}}) }}
                            {{ form_widget(form.villeArrivee,{ 'attr': { 'placeholder': 'Ville de arrivée'} }) }}
                        </div>

                        <div style="margin-top: 20px" class="col-sm-3">
                            <button style="height:80px; width: 180px; border-top-left-radius:15px;
                             border-bottom-right-radius: 15px" type="submit" name="_submit" id="btn"
                             class="button center-block" onclick="location.href= '{{ path('choix_trajet') }}'">{{ 'Recherche' }}</button>

                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <div class="container" id="container" >
        <div class="row">

            {#{% if trajets|length == 0 %}#}
                {#if ($form->isSubmitted()) {#}
            {#<div><h1>il n ya pas de trajet qui correspand à votre recherche</h1></div>}#}
            {#{% endif %}#}

            {% if trajets|length > 0 %}


            <div  id="trajet" class="col-sm-12">
                <div id="entete"><h1><strong>Liste des trajets</strong></h1></div>
            </div><br>


            <div id="trajet" class="col-sm-12"><br>
                <div class="row">
                    <div style=" color:white;text-align: center; " class="col-sm-12">
                        <div class="trou"></div><br>

                        {% for trajet in trajets %}
                            <div class="row col-sm-12">

                                <div style="text-align: center;padding: 0" class="col-sm-12">
                                    <button class="btn-center"
                                            onclick="location.href= '{{ path('choix_show', { 'id': trajet.id }) }}' ">{{ 'choisir' }}</button>
                                </div>

                            </div>

                            <div class="row fondtrajet2 col-sm-12">
                                <div style="text-align: left" class="col-sm-6">
                                    <p>Trajet à partir du :
                                        <strong><span>{% if trajet.date %}{{ trajet.date|date('d-m-Y') }}{% endif %}</span></strong>
                                    </p>
                                </div>

                                <div style="text-align: right" class="col-sm-6">
                                    <P>Ville de départ : <strong><span>{{ trajet.villeDepart }}</span></strong></P>
                                </div>
                            </div>

                            <div class="row fondtrajet col-sm-12">
                                <div style="text-align: center" class="col-sm-2">
                                    <p>Heure de départ :</p>
                                    <span>{% if trajet.heureDepart %}{{ trajet.heureDepart|date('H:i') }}{% endif %}</span>
                                </div>

                                <div style="text-align: center" class="col-sm-3">
                                    <p>Ville intermediaire</p>
                                    <span>{{ trajet.villeIntermediaire }}</span>
                                </div>

                                <div style="text-align: center" class="col-sm-3">
                                    <p>Heure intermediaire </p>
                                    <span>{% if trajet.heureIntermediaire %}{{ trajet.heureIntermediaire|date('H:i') }}{% endif %}</span>
                                </div>

                                <div style="text-align: center" class="col-sm-2">
                                    <p>Nombre de place(s)</p>
                                    <span>{{ trajet.nbPlaces }}</span>
                                </div>

                                <div style="text-align: center" class="col-sm-2">
                                    <p>Conducteur</p>
                                    <span>{{ trajet.idUtilisateur }}</span>
                                </div>

                            </div>

                            <div class="row fondtrajet2 col-sm-12">
                                <div style="text-align: left" class="col-sm-6">
                                    <p>Arrivée à  :
                                        <strong><span>{% if trajet.heureDepart %}{{ trajet.heureDepart|date('H:i') }}{% endif %}</span></strong>
                                    </p>
                                </div>

                                <div style="text-align: right" class="col-sm-6">
                                    <P>Ville d'arrivée : <strong><span>{{ trajet.villeArrivee }}</span></strong></P>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <br>
                                </div>
                            </div>

                        {% endfor %}
                        <div class="row col-sm-12" >
                            <div class="col-sm-12">
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        function afficher(id) {
            document.getElementById(id).style.display = 'block';
        }
    </script>



{% endblock %}

