{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.date) }}<br>
    {{ form_row(form.villeDepart) }}<br>
    {{ form_row(form.heureDepart) }}<br>
    {{ form_row(form.villeArrivee) }}<br>
    {{ form_row(form.heureArrivee) }}<br>
    <input type="submit" value="Select" />
    {{ form_end(form) }}

    <h1>Trajets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Ville de depart</th>
                <th>Heure de depart</th>
                <th>Ville intermediaire</th>
                <th>Heure intermediaire</th>
                <th>Ville d'arrivée</th>
                <th>Heure d'arrivée</th>
                <th>Nombre de places</th>
                <th>Id de l'utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trajet in trajets %}
            <tr>
                <td><a href="{{ path('trajet_show', { 'id': trajet.id }) }}">{{ trajet.id }}</a></td>
                <td>{% if trajet.date %}{{ trajet.date|date('d-m-Y') }}{% endif %}</td>
                <td>{{ trajet.villeDepart }}</td>
                <td>{% if trajet.heureDepart %}{{ trajet.heureDepart|date('H:i') }}{% endif %}</td>
                <td>{{ trajet.villeIntermediaire }}</td>
                <td>{% if trajet.heureIntermediaire %}{{ trajet.heureIntermediaire|date('H:i') }}{% endif %}</td>
                <td>{{ trajet.villeArrivee }}</td>
                <td>{% if trajet.heureArrivee %}{{ trajet.heureArrivee|date('H:i') }}{% endif %}</td>
                <td>{{ trajet.nbPlaces }}</td>
                <td>{{ trajet.idUtilisateur }}</td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('choix_show', { 'id': trajet.id }) }}">choisir</a>
                        </li>


                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('choix_trajet') }}">Choisir un nouveau trajet</a>
        </li>
    </ul>
{% endblock %}
