{% trans_default_domain 'FOSUserBundle' %}

<style>
    form {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 10px;
        padding-top: 15px;
    }
</style>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h1>Welcome to ImieCar!</h1>
<h3>Site de co-voiturage des campus IMIE.</h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-horizontal col-sm-12" id="login-form"
                  action="{{ path("fos_user_security_check") }}" method="post">

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="form-group">
                    <label class="form-group has-feedback has-feedback-left "><h4>Votre compte:</h4></label>
                    <div class="col-sm-12">
                         <input type="text" class="form-control col-sm-10" id="username" name="_username"
                               value="{{ last_username }}"
                               placeholder="User Name"
                               required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control" type="password" class="col-sm-12" id="password" name="_password"
                               required="required" placeholder="Password"/>
                    </div>
                </div>

                <div class="form-group">
                    <label><input type="checkbox" id="remember_me"
                               name="_remember_me"
                               value="on"/>{{ '  Se souvenir de moi' }}</label>
                    <hr>
                    {% if error %}
                        <h3>
                            <span class="label label-warning col-sm-offset-1 col-sm-10">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                        </h3>
                    {% endif %}
                </div>
                        <button type="submit" name="_submit" class="btn-dark btn btn-md">{{ 'Validez' }}</button>
                        <button type="button" class="btn-dark btn btn-md"
                                onClick="location.href='/register'">{{ 'Créer un compte' }}</button>
            </form>
        </div>
    </div>
    <h3><strong>Connectez-vous ou créer un compte pour accéder à nos services.</strong></h3>
</div>
