{% extends 'base.html.twig' %}


{% block body %}
    <h1>Trajet creation</h1>

    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
    {{ form_row(form.date) }}<br>
    {{ form_row(form.villeDepart) }}<br>
    {{ form_row(form.heureDepart) }}<br>
    <script type="text/javascript">
        function afficherSuite(id) {
            document.getElementById(id).style.display = 'block';
        }
    </script>
    <div id="inter">
        <input type="button" value="Ajouter une ville intermediaire"  onclick="afficherSuite('suite')"><br><br>
        <div id="suite" style="display: none">
    {{ form_row(form.villeIntermediaire) }}<br>
    {{ form_row(form.heureIntermediaire) }}<br>
        </div>
    </div><br>
    {{ form_row(form.villeArrivee) }}<br>
    {{ form_row(form.heureArrivee) }}<br>
    {{ form_row(form.nbPlaces) }}<br>
    {{ form_row(form.idUtilisateur) }}<br>

     <br><br><input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('trajet_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
