{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <div class="container">
        <div class="row">
            <div style="margin-bottom: 25px" id="trajet" class="col-sm-12">
                <div id="entete"><h1><strong>Détail du trajet</strong></h1></div>
            </div>
            <div id="trajet" class="col-sm-12">
                <div id="entete"><h1><strong></strong></h1></div>
                <div class="row">
                    <div style=" color:white;text-align: center; " class="col-sm-12">
                        <div class="trou"></div>

                        <div class="row fondtrajet2 col-sm-12">
                            <div style="text-align: left" class="col-sm-4">
                                <p>Trajet à partir du :
                                    <strong><span>{% if trajet.date %}{{ trajet.date|date('d-m-Y') }}{% endif %}</span></strong>
                                </p>
                            </div>
                            <div style="text-align: center" class="col-sm-4">

                            </div>
                            <div style="text-align: right" class="col-sm-4">
                                <P>Ville de départ : <strong><span>{{ trajet.villeDepart.ville }}</span></strong></P>
                            </div>
                        </div>

                        <div class="row fondtrajet col-sm-12">
                            <div style="text-align: center" class="col-sm-2">
                                <p>Heure de départ :</p>
                                <span>{% if trajet.heureDepart %}{{ trajet.heureDepart|date('H:i') }}{% endif %}</span>
                            </div>

                            <div style="text-align: center" class="col-sm-3">
                                <p>Ville intermediaire</p>
                                <span>{{ trajet.villeIntermediaire.ville }}</span>
                            </div>

                            <div style="text-align: center" class="col-sm-3">
                                <p>Heure intermediaire </p>
                                <span>{% if trajet.heureIntermediaire %}{{ trajet.heureIntermediaire|date('H:i') }}{% endif %}</span>
                            </div>

                            <div style="text-align: center" class="col-sm-2">
                                <p>Nombre de place(s)</p>
                                <span>{{ trajet.nbPlaces }}</span>
                            </div>

                            <div style="text-align: center" class="col-sm-2">
                                <p>Conducteur</p>
                                <span>{{ trajet.idUtilisateur }}</span>
                            </div>

                        </div>

                        <div class="row col-sm-12">
                            <div class="col-sm-12">
                                <br>
                                <div style="text-align: left" class="col-sm-4">
                                    <button class="btn-button-left"
                                            onclick="location.href= '{{ path('trajet_index') }}' ">{{ 'Retour à la liste' }}</button>
                                </div>

                                <div style="text-align: center" class="col-sm-4">
                                    {{ form_start(delete_form) }}
                                    <button class="btn-button-center" type="submit"
                                            value="Delete">{{ 'Effacer' }}</button>
                                    {{ form_end(delete_form) }}
                                </div>

                                <div style="text-align: right" class="col-sm-4">
                                    <button class="btn-button-right"
                                            onclick="location.href= '{{ path('trajet_edit', { 'id': trajet.id }) }}' ">{{ 'Modifier' }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
{% endblock %}